<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/Vendor/DairyCRM.min.css" rel="stylesheet" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <img src="~/Documents/Gifs/Loader.svg" />
        </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
            @*<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">*@

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15 small">
                    @*<i class="fas fa-laugh-wink"></i>*@
                    SweetNCool
                </div>
                <div class="sidebar-brand-text mx-3"></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link collapsed" href="@Url.Action("Dashboard","Common")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>@Html.DisplayName("Dashboard")</span>
                </a>
            </li>
            @if (Convert.ToInt32(Session["RoleId"]) == 3)
            {
                <!-- Nav Item - Pages Collapse Menu -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Products","Product")">
                        <i class="fas fa-blender-phone"></i>
                        <span>@Html.DisplayName("Products")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("ProductPurchase","ProductPurchase")">
                        <i class="fas fa-cart-plus"></i>
                        <span>@Html.DisplayName("Purchase")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Stocks","Stocks")">
                        <i class="fas fa-list"></i>
                        <span>@Html.DisplayName("Stocks")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("DistributorOrders","Orders")">
                        <i class="fas fa-arrow-circle-up"></i>
                        <span>@Html.DisplayName("Orders")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("PurchaseSellReport","Reports")">
                        <i class="fas fa-file-excel"></i>
                        <span>@Html.DisplayName("Profit Report")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Transaction"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-money-bill-alt"></i>
                        <span>@Html.DisplayName("Transaction")</span>
                    </a>
                    <div id="Transaction" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @Html.ActionLink("Show Transaction", "Transaction", "Transaction", new { area = "" }, new { @class = "collapse-item" })
                            @Html.ActionLink("Transaction Report", "TransactionReport", "Transaction", new { area = "" }, new { @class = "collapse-item" })
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("BillsHistory","Bills")">
                        <i class="fas fa-file-pdf"></i>
                        <span>@Html.DisplayName("Bills")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Customers","Customer")">
                        <i class="fas fa-users"></i>
                        <span>@Html.DisplayName("Customers")</span>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Category","Category")">
                        <i class="fas fa-tags"></i>
                        <span>@Html.DisplayName("Category")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Company","Company")">
                        <i class="fas fa-building"></i>
                        <span>@Html.DisplayName("Company")</span>
                    </a>
                </li>

            }
            else if (Convert.ToInt32(Session["RoleId"]) == 6)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("CustomerProduct","CustomerProduct")">
                        <i class="fas fa-blender-phone"></i>
                        <span>@Html.DisplayName("Products")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("OrderedProducts","CustomerProduct")">
                        <i class="fas fa-cart-arrow-down"></i>
                        <span>@Html.DisplayName("Orders")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("BillsHistory","Bills")">
                        <i class="fas fa-file-pdf"></i>
                        <span>@Html.DisplayName("Bills")</span>
                    </a>
                </li>

            }
            else if (Convert.ToInt32(Session["RoleId"]) == 2)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Distributors"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-truck"></i>
                        <span>@Html.DisplayName("Distributors")</span>
                    </a>
                    <div id="Distributors" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @Html.ActionLink("Show Distributors", "Distributors", "Distributor", new { area = "" }, new { @class = "collapse-item" })
                            @Html.ActionLink("Add Distributors", "UpsertDistributor", "Distributor", new { id = 0 }, new { @class = "collapse-item" })
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Products","Product")">
                        <i class="fas fa-blender-phone"></i>
                        <span>@Html.DisplayName("Products")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Customers","Customer")">
                        <i class="fas fa-users"></i>
                        <span>@Html.DisplayName("Customers")</span>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Category","Category")">
                        <i class="fas fa-tags"></i>
                        <span>@Html.DisplayName("Category")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Company","Company")">
                        <i class="fas fa-building"></i>
                        <span>@Html.DisplayName("Company")</span>
                    </a>
                </li>


            }
            else if (Convert.ToInt32(Session["RoleId"]) == 1)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Admins"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-users-cog"></i>
                        <span>@Html.DisplayName("Admins")</span>
                    </a>
                    <div id="Admins" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @Html.ActionLink("Show Admins", "Admins", "Admin", new { area = "" }, new { @class = "collapse-item" })
                            @Html.ActionLink("Add Admin", "UpsertAdmin", "Admin", new { id = 0 }, new { @class = "collapse-item" })
                        </div>
                    </div>
                </li>
            }


            <hr class="sidebar-divider my-0">


            <hr class="sidebar-divider my-0">
            <br />
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        @if (Convert.ToInt32(Session["RoleId"]) == 1 || Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 3 || Convert.ToInt32(Session["RoleId"]) == 6)
                        {
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a title="Language" class="nav-link dropdown-toggle text-gray-700" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                    <label style="margin:5px;">@Session["LoggedInUsername"].ToString()</label>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                                    @Html.ActionLink("Profile", "UserDetails", "Common", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                    </ul>
                </nav>
                <div class="container-fluid">
                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        @*<span>Copyright &copy; Your Website 2020</span>*@
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <script src="~/Content/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="~/Content/Vendor/DairyCRM.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            $('table').addClass("table-striped");
            $('table').DataTable({
                retrieve: true,
                "pageLength": 50
            });

        });
        $(document)
            .ajaxStart(function () {
                $('#AjaxLoader').show();
            })
            .ajaxStop(function () {
                $('#AjaxLoader').hide();
            });

        function parseJsonDate(jsonDateString) {
            return new Date(parseInt(jsonDateString.replace('/Date(', '')));
        }
        function parseJsonFormattedLongDate(jsonDateString) {
            var date = new Date(parseInt(jsonDateString.replace('/Date(', '')));
            return date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ' ' + date.toLocaleTimeString();
        }
        function parseJsonFormattedDate(jsonDateString) {
            var date = new Date(parseInt(jsonDateString.replace('/Date(', '')));
            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
        }

        function ConvertDateToDDMMYY(dateString) {
            var dateArr = dateString.split('/');
            return (dateArr[1] + '/' + dateArr[0] + '/' + dateArr[2]);
        }
        function GenrateDropDown(value, text) {
            return "<option value=" + value + ">" + text + "</option>";
        }
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};
            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'] == "on" ? true : n['value'] == "off" ? false : n['value'];
            });
            return indexed_array;
        }
    </script>
</body>
</html>
