@model AKStore.Models.BillsViewModel
@{
    ViewBag.Title = "Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial, Helvetica, sans-serif
    }
</style>
<br />
<br />
<div style="text-align:center;text-decoration:underline">
    <h4>@Model.DistributorName</h4>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th class="bg-secondary text-white">
                @Html.DisplayName("Customer")
            </th>
            <td>
                @Html.DisplayFor(x => x.CustomerName)
            </td>
            <th class="bg-secondary text-white">
                @Html.DisplayName("Store")
            </th>
            <td>
                @Html.DisplayFor(x => x.StoreName)
            </td>
        </tr>
        <tr>
            <th class="bg-secondary text-white">
                @Html.DisplayName("Dilivery Address")
            </th>
            <td>
                @Html.DisplayFor(x => x.Address)
            </td>
            <th class="bg-secondary text-white">
                @Html.DisplayName("Postal code")
            </th>
            <td>
                @Html.DisplayFor(x => x.PostalCode)
            </td>
        </tr>
        <tr>
            <th class="bg-secondary text-white">
                @Html.DisplayName("Date")
            </th>
            <td>
                @Model.BillDate.ToString("dd/MM/yyyy hh:mm tt")
            </td>

            @*<th class="bg-secondary text-white">
                    @Html.DisplayName("Time")
                </th>
                <td>
                    @Model.BillDate.ToString("hh:mm tt")
                </td>*@
            <th class="bg-secondary text-white">
                @Html.DisplayName("Delivery Note")
            </th>
            <td>
                @Html.DisplayFor(x => x.BillNo)
            </td>
        </tr>
        @*<tr>
            <th class="bg-secondary text-white">
                @Html.DisplayName("Delivery Note")
            </th>
            <td>
                @Html.DisplayFor(x => x.DeliveryNote)
            </td>
        </tr>*@

    </table>
</div>
<br />
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="bg-secondary text-white">
            <tr>
                <th>
                    @Html.DisplayName("Item Name")
                </th>
                <th>
                    @Html.DisplayName("Qty")
                </th>
                <th>
                    @Html.DisplayName("Price")
                </th>
                <th>
                    @Html.DisplayName("Amount")
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.BillsItemModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
        <tr>
            <td colspan="3" style="text-align:right;font-weight:bold">Net amount</td>
            <td style="font-weight:bold">@Html.DisplayFor(x => x.NetAmount)</td>
        </tr>

    </table>
</div>
<br />
<br />
<h4 style="text-align:left">Thank You</h4>
<br />
@section scripts{
    <script>
        document.querySelector("#content > nav").style.display = "none"
        document.querySelector("#accordionSidebar").style.display = "none"
    </script>

}