@model AKStore.Models.BillsViewModel
@{
    ViewBag.Title = "Bills";

}
<style>
    * {
        font-family: Arial, Helvetica, sans-serif
    }
</style>
<br />
<div style="text-align:center">
    <span>@Model.BillHeading</span>
</div>
<div style="text-align:center">
    <h4>@Model.Title</h4>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th class="bg-warning text-white">
                @Html.DisplayName("Customer")
            </th>
            <td>
                @Html.DisplayFor(x => x.StoreName)
            </td>
            <th class="bg-warning text-white">
                @Html.DisplayName("Dilivery Address")
            </th>
            <td>
                @Html.DisplayFor(x => x.DeliveryAddress)
            </td>
        </tr>
        <tr>
            <th class="bg-warning text-white">
                @Html.DisplayName("Date")
            </th>
            <td>
                @Model.BillDate.ToString("dd/MM/yyyy")
            </td>

            <th class="bg-warning text-white">
                @Html.DisplayName("Time")
            </th>
            <td>
                @Model.BillDate.ToString("hh:mm tt")
            </td>
        </tr>
        <tr>
            <th class="bg-warning text-white">
                @Html.DisplayName("Cashier")
            </th>
            <td>
                @Html.DisplayFor(x => x.Cashier)
            </td>

            <th class="bg-warning text-white">
                @Html.DisplayName("Delivery Note")
            </th>
            <td>
                @Html.DisplayFor(x => x.DeliveryNote)
            </td>
        </tr>

    </table>
</div>
<br />
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="bg-warning text-white">
            <tr>
                <th>
                    @Html.DisplayName("Item Name")
                </th>
                <th>
                    @Html.DisplayName("Qty")
                </th>
                <th>
                    @Html.DisplayName("Price")
                </th>
                <th>
                    @Html.DisplayName("Amount")
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.BillsItemModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
        <tr>
            <td colspan="3" style="text-align:right">Subtotal</td>
            <td>@Html.DisplayFor(x => x.SubTotal)</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:right">Discount</td>
            <td>@Html.DisplayFor(x => x.Discount)</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:right">Shipping Amount</td>
            <td>@Html.DisplayFor(x => x.shippingAmount)</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:right">Net amount</td>
            <td>@Html.DisplayFor(x => x.NetAmount)</td>
        </tr>
        @*<tr>
                <td colspan="3" style="text-align:right">Net amount</td>
                <td>@Html.DisplayFor(x => x.PreviousBalance)</td>
            </tr>*@
        @*<tr>
                <td colspan="3" style="text-align:right">Net amount</td>
                <td>@Html.DisplayFor(x => x.BalanceToDate)</td>
            </tr>*@
    </table>
</div>
<br /><br />
<h4 style="text-align:left">Thank You</h4>
<br />
@section scripts{
    <script>
        document.querySelector("#content > nav").style.display = "none"
        document.querySelector("#accordionSidebar").style.display = "none"
    </script>

}