@model AKStore.Models.UpdatePassword

@{
    ViewBag.Title = "Update Password";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow card-outline card-purple">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Update Password</h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                @Html.Label("Old Password", htmlAttributes: new { @class = "mb-1" })

                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                @Html.Label("New Password", htmlAttributes: new { @class = "mb-1" })

                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                @Html.Label("Confirm Password", htmlAttributes: new { @class = "mb-1" })

                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-grad" />
                                <a href='@Url.Action("UserDetails")' class="btn  btn-secondary ">Back to Profile</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
