@model IEnumerable<AKStore.Models.DistributorModel>

@{
    ViewBag.Title = "Distributors";
}

<p>
    <a href="@Url.Action("UpsertDistributor")" class="btn btn-grad"><i class="fas fa-plus-circle"></i> Add New Distributor</a>
</p>
<div class="card shadow-lg card-outline card-purple elevation-2">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Distributors</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="success">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayName("Dealer Name")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>


                        <th class="thEdit" style="display:none">Password</th>
                        <th class="thEdit" style="display:none">Status</th>
                        <th class="thEdit">Edit</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td> 
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td style="display:none">
                            <a href="#" title="Set Password" id="defualt-password-@item.Id" onclick="OpenDefualtPasswordModal('@item.UserName')" class="editbutton btn btn-outline-warning"><i class="fas fa-key"></i></a>
                        </td>
                        <td style="display:none">
                            <div class="custom-control custom-switch ">
                                <input type="checkbox" class="custom-control-input text-success" id="customSwitch_@item.Id" onchange="OpenDeleteModal(@item.Id,this)" checked="@item.IsActive">
                                <label class="custom-control-label" for="customSwitch_@item.Id"></label>
                            </div>
                        </td>
                        <td style="display:flex">
                            <a href="@Url.Action("UpsertDistributor","Distributor",new { id = item.Id })" class="editbutton btn btn-outline-primary"><i class="fas fa-pen-alt"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="DistributorDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title" id="exampleModalLabel">Distributor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card-body">
                <label id="lblDeleteText">Are you sure you want to delete distributor?</label>
                <form method="post" action="@Url.Action("DeleteDistributor","Distributor")">
                    <input type="hidden" name="id" id="hdnDelId" />
                    <input type="hidden" name="isActive" id="hdnChkActive" hidden />
                    <button type="submit" class="btn btn-delete">Yes</button>
                    <button type="button" class="btn btn-secondary " onclick="CloseDeleteModal()">No</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SetDefualtPassworModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title" id="exampleModalLabel1">Set Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card-body">
                <label id="lblPasswordText">Are you sure you want to set Phone No. as Password?</label>
                <form method="post" action="@Url.Action("SetDefualtPassword","Common")">
                    <input type="hidden" name="userName" id="hdnUserName" />
                    <button type="submit" class="btn btn-warning text-white">Yes</button>
                    <button type="button" class="btn btn-secondary " onclick="CloseDefualtPassworModal()">No</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        function OpenDeleteModal(id, checkBox) {

            if ($(checkBox).prop("checked")) {
                $("#lblDeleteText").text("Are you sure you want to activate distributor?");
                $("#hdnChkActive").val(true);
            } else {
                $("#lblDeleteText").text("Are you sure you want to deactivate distributor?")
                $("#hdnChkActive").val(false);
            }
            $("#hdnDelId").val(id);
            $("#DistributorDeleteModal").modal("show");
        }
        function CloseDeleteModal() {
            var id = $("#hdnDelId").val();
            if ($("#hdnChkActive").val() == "true") {
                $("#customSwitch_" + id).prop("checked", false);
            } else {
                $("#customSwitch_" + id).prop("checked", true);
            }
            $("#DistributorDeleteModal").modal("hide");
        }

        function OpenDefualtPasswordModal(userName) {

            $("#hdnUserName").val(userName);
            $("#SetDefualtPassworModal").modal("show");

        }
        function CloseDefualtPassworModal() {
            $("#hdnUserName").val("");
            $("#SetDefualtPassworModal").modal("hide");
        }
    </script>
}